*.ai
*.pdf
*.png
!/figures-png/*

*.Rdata
*.xlsx
*.Rds
*.csv
*.qs
*.html

.Rproj.user
.Rhistory
/.quarto/
.DS_Store

helper-lmm.R
helper-rmcorr.R
plot_lmm_heatmap_v4.R
compute_feature_sample_n.R
heatmap-agedev.R
plotsForMartin.R

_site/*
/_site/
archive/*
out/*
/data/
/figures-ai/
/site_libs/
/figures-png/

!src/*

